go 1.17

directory (
	./server	// example.com/mS  - uses protocol
	./client        // example.com/mC  - uses protocol
	./protocol      // example.com/mP  - no dependencies
	./app           // example.com/app - command, uses mS, mC, mP
)

